@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
    background-image:url(https://i.pinimg.com/736x/81/17/3a/81173a14c87afb1899821b7ce23efbf5.jpg);
}

header {
    background: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1.5rem 0px 1.5rem 0px;
}

.imagens {
    width: 15%;
    border-radius: 20px;
    scale: 130%;
}

.imagens-icon {
    width: 15%;
}

.titulo, .satelites-titulo {
    text-align: center;
    font-size: 5.3rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Bruno Ace', cursive;
}

.navbar {
    background: #272727;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.home:hover,.sobre1:hover, .mais:hover, .satelites:hover, .planetas1:hover{
    color: white;
}

.home, .sobre1, .mais, .satelites, .planetas1{
    font-family: 'Bruno Ace', cursive;
    color: rgb(182, 179, 179);
    padding: 0 3rem 0 3rem;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
.sobre2 {
    background-color: #3a3a3a;
    margin: 4rem 3rem 0 3rem;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.astronomia {
    display: grid;
    width: 20%;

}

.titulosobre {
    color: rgb(221, 218, 218);
    text-transform: uppercase;
    font: bolder;
    font-size: 50px;
    display: grid;
    padding-right: 50px;
    align-items: center;
}

.textosobre {
    color: whitesmoke;
    font-size: larger;
    display: grid;
    padding-right: 50px;
}


.planeta-1, .satelite-artificial{
    background-color: #3a3a3a;
    margin: 4rem 3rem 0 3rem;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}


.integrantes, .titulo-oque, .titulo-artificial{
    background-color: #1d1d1d;
    border-radius: 2rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: whitesmoke;
    margin: 3.5rem 2.5rem 0 2.5rem;
    padding: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.tituloplanetas1, .tituloplanetas2, .titulo-satelites{
    color: rgb(221, 218, 218);
    padding: 0 2% 0 2%;
    text-transform: uppercase;
    font: bolder;
    font-size: 50px;
    display: inline-flex;
    justify-content: center;
}

.textoplanetas1,.textoplanetas2, .texto-satelites {
    color: whitesmoke;
    font-size: larger;
    display: inline-flex;
    text-align: left;
    padding: 0 40px 0 40px;
}

.satelites2 {
    padding: 1.5rem 0px 1.5rem 0px;
    background-color: #3a3a3a;
    font-family: 'Bruno Ace', cursive;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hubble, .sputnik {
    width: 15%;
    padding: 15px 0px 15px 0px;

}

.oque {
    background-color: rgb(58, 58, 58);
    margin: 4rem 3rem 0px;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}















footer {
    background-color: #131313;
    padding:  4rem 4rem 4rem;
    margin: 4rem 0 0 0;
    text-align: center;
    color: white;
}

.icons {
    justify-items: center;
    width: 5%;
    display: inline-block;
    padding-top: 20px;
}

.icons:hover, .text:hover {
    transition: 530 ms;
    scale: 110%;
    color: white;
}

.text {
    display: block;
    text-decoration: none;
}

a {
    margin: 25px;
}
